.download{
    background-color: var(--sectionBackground);
    padding-block: 200px 50px;
}
.download__heading{
    font-size: 40px;
    text-transform: capitalize;
}
.download__data{
    border-radius: 22px;
    background: #FFF;
    padding: 58px 50px;
    border: 10px solid var(--orange, var(--buttonColor));
    border-top: 0;
    border-left: 0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.02), 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    position: relative;
}
.download__content p{
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 20px;
    margin-left: 10px;
}
.download__images{
    display: flex;
    gap: 4px;
    margin-top: 22px;
    align-items: center;
}
.download__images img{
    width: 200px;
    height: 65px;
}

.download__mobile{
    max-width: 371px;
    max-height: 440px;
    overflow: hidden;
    position: absolute;
    right: 50px;
    bottom: -10px;
}