.nav{
    border: 1px solid rgba(144, 164, 174, 0.50);
    border-left: 0;
    border-right: 0;
    padding-block: 18px;
}

.nav__list{
    display: flex;
    justify-content: center;
    gap: 64px;
}
.nav__list--item a{    
    color: var(--Text-color, var(--inputPlaceholder));
    font-size: 15px;
    font-weight: 400;
}
.nav__list--item.active a,
.nav__list--item a:hover{
    color: var(--headerBackground);
    font-weight: 800;
}
.header__container{
    position: sticky;
}
.header__left{
    display: flex;
    align-items: center;
}
.header__logo{
    max-width: 170px;
    position: relative;
}
.header__logo::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 44px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--inputPlaceholder);
}
.header__logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.header__location{
    margin-left: 20px;
    margin-bottom: 9px;
}

.header__location--heading{
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__location--heading svg{
    min-height: 18px;
}

.header__location--place span{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.header__container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header__right{
    display: flex;
    gap: 34px;  
    align-items: center;
}
.header__right svg{
    min-height: 24px;
    min-width: 24px;
}
.header__right--icon{
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--headerIcons);
    font-size: 14px;
    font-weight: 500;
}